 * {margin: 0; padding: 0; }
body {font-family: Arial, Helvetica, Sans-serif; background-color: #FFFFFF;}
header {display: block; background-color: #F1B434; width: 100vw; text-align: center;}
h1 {font-weight: normal; color: white; position: absolute; top: 5%; width: 100%; margin: 0 auto;}

svg{
    margin-bottom: -1px;
}

#headerSvg{
    margin-bottom: -5vh;
}

#footerSvg{
    margin-top: -5vh;
}

/*Orange color used: #F1B434 */

nav {background-color: #9A9E9D;}

nav a {color: white; text-decoration: none;}
nav a:hover {color: #ddd;}
nav ul {display: table; width: 100vw;; margin: auto; background-color: white;}
nav li {display: table-cell; text-align: center; padding: 1em;}

main {overflow: auto; background-color: white; width: 100vw; margin: auto; }

footer {padding: 1em; background-color: #F1B434; color: white;}

p {margin-bottom: 1em;}

body {font-size: 1.2em; font-family: arial, helvetica, sans-serif}
input, label, select, textarea {float: left; width: 15em; margin-bottom: 1em;  padding: 0.5em;}
label {clear: left; padding: 0; margin: 0;}
input[type="submit"] {margin-left: 15em; width: auto; padding: 0.5em 1em; clear: both; font-size: 1em;}
form {overflow: auto; clear: both; display: block;}

blockquote {display: table; margin-bottom: 1em; padding: 0.5em; }
blockquote p {display: table-cell; width: 90%; vertical-align: top;}
blockquote form {  display: table-cell; width: 10%;}

.errors {padding: 1em; border: 1px solid red; background-color: lightyellow; color: red; margin-bottom: 1em; overflow: auto;}
.errors ul {margin-left: 1em;}

input, select, optopn, button{
    color: #83786F;
    text-align: center;
}

#adminCode, #date1, #date2{
    background:none;
    border:0;
    border-bottom: 1px solid #0093B2;
    outline:none;
    box-shadow: none;
}

select, option{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.submitButton{
    background-color: white;
    box-shadow: 0;
    text-shadow: 0;
    color: white;
    border-radius: 40px;
    padding: 10%;
    border:1px solid #0093B2;
    color: #0093B2;
    min-width: 100px;
}

.submitButton:hover{
    background-color: #0093B2;
    color: white;
}

.queryButton{
    background: 0;
    border:0;
    box-shadow: 0;
    border-bottom: 1px solid white;
    font-size: 1em;
    text-align: center;
    min-width: 200px;
}

.queryButton:hover{
    border-bottom: 1px solid #0093B2;
    text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #83786F;
  text-align: center;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #83786F;
  text-align: center;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #83786F;
  text-align: center;
}

@media only screen and (max-width: 750px){
    #headerSvg{
        margin-bottom: -1px;
    }
    h1 {top: 0;}

}

#alertBox{
    z-index: 999;
    width: 40%;
    height: 40%;
    position: absolute;
    left: 30%;
    top: 30%;
    background-color: #F1B434;
    border-radius: 40px;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#results{
    text-align:center;
}

#visitsCounter{
    font-size: 5em;
}
